
#idea
.idea/

# dependencies
node_modules/
web/spider/node_modules/
web/spider/src/Media/

# testing
/coverage
Model/test.py

# production
/build
/src/media/*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local